 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js After School App</title>
    <!-- Import Script to run Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src= "lessons.js"></script>

</head>

<body>
    <!-- Create the DOM space for vue to run in-->
    <div id="app">
        <header>
            <h2 v-text="sitename"></h2>
            <button @click="showCheckout">
                {{ cartItemCount }}
                <span class="fa fa-cart-plus"></span> Checkout
            </button> 
        </header>

        <div v-if="showProduct">
        <main class="productContainer"> 
            <div v-for="product in products" :key="product.id">  
            <figure>
                <img v-bind:src="product.image">
            </figure>
            <h2 v-text ="product.title"></h2>
            <p v-html="product.description"></p>
            <!-- The double curly brackets is the shorter version of v-text -->
            <p><b>Subject:</b> {{product.subject}}</p>
            <p><b>Location:</b> {{product.location}}</p>
            <p><b>Price:</b> ₦{{product.price}}</p>
            <p><b>Available Spaces:</b> {{product.space}}</p> 
            <button v-on:click="addToCart(product)">Add to Cart</button>
            <button disabled="disabled">Add to Cart</button>
            
        </div>
        </main>
    </div>

    



    <div v-else>

        
        <main class="productContainer"> 
            <div v-for="product in cart">  
            <figure>
                <img v-bind:src="product.image">
            </figure>
            <h2 v-text ="product.title"></h2>
            <p v-html="product.description"></p>
         <!-- The double curly brackets is the shorter version of v-text -->
            <p><b>Subject:</b> {{product.subject}}</p>
            <p><b>Location:</b> {{product.location}}</p>
            <p><b>Price:</b> ₦{{product.price}}</p>
            <p><b>Available Spaces:</b> {{product.space}}</p> 
            <button v-on:click="addToCart(product)">Add to Cart</button>
            <button disabled="disabled">Add to Cart</button>

        </div>
        </main>
    </div>

        </div>

        


    <script>
        // const lessonData = require('./lessons.js');
    //Instatiate a Vue object and set some values to it
        var webstore = new Vue({
    // Link Vue to the Div with an id of app
            el: '#app',
            data: {
                showProduct: "true",
                sitename: 'Vue.js After School Classes and Activities',
                products: lessondata,
                cart: [] //array to store items in shopping cart
            },
            methods:{
                //Add to cart function which will take the product id and store it in cart
                addToCart: function(product){
                //use of console.log to check that the function is fired correctly
                    console.log('testing');
                    this.cart.push(product);
                },
                showCheckout: function(){
                    this.showProduct = this.showProduct ? false : true;
                }
   
            },
            computed: {
                //Sends the value of items in the cart array to the checkout button
                cartItemCount: function(){
                    return this.cart.length || '';
                },
                //Makes sure that there are enough items in the inventory. If not we'll disable
                //the add to cart button.
                canAddToCart: function(){
                    return this.product.availableInventory > this.cartItemCount;
                }
            }
        });
    </script>
    <style>
        .productContainer{
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
        },
    </style>
</body>
</html>